@import "tailwindcss";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #257bf4;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101722;
}

@layer base {
  body {
    @apply font-sans bg-background-light text-slate-900;
  }
  
  .dark body {
    @apply bg-background-dark text-slate-100;
  }
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v18/n0kk_P2pE3oLH_W6iw9b0_X_f_Y.woff2) format('woff2');
}
